<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>HN web vs RSS diff</title>
</head>

<body>

<b><span th:text="${errorMessage}" style="color: red"/></b>

<p>Different articles:</p>

<table>
    <th:block th:each="article:${articles}">
        <tr>
            <td th:text="${article.getDate()}"></td>
            <td>
                <a th:href="${article.getUrl()}" th:text="${article.getTitle()}"></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td th:text="${article.getPerex()}"></td>
        </tr>
    </th:block>
</table>
</body>

</html>